body {
    background-color: rgb(154, 201, 255);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: 550px;
        margin-left: 80px;         
        background-image: url("kuvat/paakallo.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-attachment: fixed;
}

  a:link {
    color: rgb(16, 0, 158);
  }
  a:visited {
    color: rgb(1, 24, 1);
  }
  a:active {
    color: rgb(103, 103, 235);
  }
    